[Desktop Entry]
Type=Application
Name=fmz
Comment=Fuzzy file manager
Icon=utilities-terminal
Terminal=true
Exec=fmz %F
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
